 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 .control {
   width: 60vw;
   display: flex;
   justify-content: space-between;
   margin: 15px 0;
 }

 .control > input {
   padding: 5px 15px
 }

 @media (max-width: 768px) {
   .control {
      width: 80vw;
   }
 }
 
 .moves-and-time {
   display: flex;
   justify-content: space-around;
   width: 60vw;
   padding-bottom: 10px;
 }

 .board {
   display: flex;
   flex-wrap: wrap;
   width: 60vw;
   height: 60vw;
   border: 1px solid black;
 }

 .cell {
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid black;
   cursor: pointer;
 }

 @media (max-width: 768px) {
   .board {
      width: 80vw;
      height: 80vw;
   }
 }

 .size-link {
   margin: 3px;
   color: blue;
   text-decoration: underline;
   cursor: pointer;
 }
